---
import Html from "../icons/html.astro"
import Css from "../icons/css.astro"
import Js from "../icons/js.astro"
import Sass from "../icons/sass.astro"
import Bootstrap from "../icons/bootstrap.astro"
import Web from "../icons/web.astro"

const TAGS = {
    Html:{
        name: "HTML",
        icon: Html
    },
    Css:{
        name: "CSS",
        icon: Css
    },
    Sass:{
        name: "SASS",
        icon: Sass
    },
    Bootstrap:{
        name: "Bootstrap",
        icon: Bootstrap
    },
    JavaScript:{
        name: "JavaScript",
        icon: Js
    }
}
const listProject = [
    {
        titulo:"Ecomerce de calzados",
        descripcion:"Es una app dinámica para hacer compras. Muy pronto API de Mercado Pago y un Chat Bot asistente de soporte.",
        img:"/images/ecomerce.webp",
        web:"https://proyecto-final-desarrollo-web-gold.vercel.app/index.html",
        tag:[TAGS.Html, TAGS.Css, TAGS.Sass, TAGS.Bootstrap, TAGS.JavaScript]
    },
    {
        titulo:"Orden Day",
        descripcion:"Esta app organiza tu día con tareas, es fácil de usar y aprender. Muy pronto IA para crear las tareas automáticamente.",
        img:"/images/tarea.webp",
        web:"https://orden-day.vercel.app/",
        tag:[TAGS.Html, TAGS.Css, TAGS.JavaScript]
    }
]    
---
<style>
    article{
        max-width: 600px;
        height: auto;
        padding: 10px;
        border: 1px solid;
        border-radius: 10px;
    }
    h3{
        text-decoration: underline;
        font-size: 22px;
        font-weight: 600;
        display: inline-block;
        vertical-align: top; 
        margin-right: 5px;
    }
    p{
        margin-bottom:20px;
    }
    .imgProyecto{
        width: 100%;
        position: relative;
    }
    .imgProyecto img{
        width: 100%;
        height: 250px;
    }
    .imgProyecto a{
        position: absolute;
        top: 5px;
        left: 5px;
    }
    .tecno{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
    }
    .tecno span{
        display: flex;
        align-items: center;
        gap: 3px;
        color: currentColor;
    }
    @media (max-width:400px){
        h3{
            text-align: center;
            display: block;
            margin-bottom: 5px;
        }
        p{
            margin-bottom: 10px;
        }
        .btnDinamic{
            display: none;
        }
        img{
            height: 180px;
        }
        .tecno{
            justify-content: center;
        }
    }
</style>
{
    listProject.map(({titulo,descripcion,img,tag,web})=>(
        <article>
            <h3 class="c-primario">{titulo} </h3>
            <p>{descripcion}</p>
            <div class="imgProyecto">
                <img src={img} alt={`Captura de pantalla del proyecto ${img}`}>
                <a href={web} target="_blank" class="btnDinamic" data-modoLight> <Web></Web> Sitio web </a>
            </div>
            <div class="tecno">
                {tag.map((tt)=>(
                    <span class="btnStatic"><tt.icon class="size-4"></tt.icon> {tt.name}</span>
                ))}
            </div>
        </article>
    ))
}
